.login-box {
  position: relative; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  padding: 40px;
  margin: 20px auto;
  background: url('../../photo/foto.png') no-repeat center center;
  background-size: cover;
  border: 1px solid green;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  margin-bottom: 7vw;
  overflow: hidden; 
}

.login-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); 
  z-index: 0; 
}

.login-box h2, .login-box .user-box, .login-box .user-box input, .login-box .user-box textarea, .login-box .user-box label, .login-box form a, .login-box button, .error1, .error2, .error3 {
  position: relative;
  z-index: 1; 
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  width: 100%;
  position: relative;
  margin-bottom: 1px;
}

.login-box .user-box input, .login-box .user-box textarea {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid green;
  outline: none;
  background: rgb(8, 14, 20);
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
  padding-left: 10px;
}

.login-box .user-box input:focus ~ label, .login-box .user-box input:valid ~ label {
  top: -30px;
  left: 0;
  color: green;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: green;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 10px;
  letter-spacing: 4px;
  border: 1px solid green;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box button {
  color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    background-color: green;
    border: none;
    margin-left: 55px;
}

.login-box button:disabled {
  background-color: gray; 
}

.login-box button:hover {
  background-color: green;
}

  .error1 {
    font-size: 20px;
    color: red;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    width:400px;
    margin-left: 55px;
  }
  .error2 {
    font-size: 20px;
    color: red;
    line-height: 48px;
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    width:400px;
    margin-left: 55px;
  }
  .error3 {
    font-size: 20px;
    color: red;
    line-height: 48px;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    width:400px;
    margin-left: 55px;
  }