.our_work_block {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 10vw;
}

.block_with_photo {
    position: relative;
    display: inline-block;
}

.block_with_photo img {
    width: 100%;
    height: auto;
    display: block;
    filter: brightness(50%); /* Затемнение изображения */
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em; /* Измените размер текста по необходимости */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Немного тени для текста */
}